mixin flag(url,image, note)
    a(href= url) 
        img(src= image, alt= note)
mixin menuSub(url,name)
    ul.menu--sub 
        li 
            a(href= url)= name
mixin menu_cap2(url,...items)
     ul.menu2 
        each item in items
            li
                a(href= url)= item 
mixin slideShow(address,name)
    .mySlides.fade
        img(src= address, alt= name)
mixin mainbot(url,image,title,date)
    .mainbot__right--item 
        .mainbot__right--img 
            a(href= url) 
                img(src= image, alt="")
        .mainbot__right--text 
            .mainbot__right--text-title 
                a(href= url) 
                    h1= title
            .mainbot__right--text-date 
                .mainbot__right-text-date-icon 
                    <i class="bi bi-gift"></i>
                .mainbot__right-text-date-mayDay 
                    span= date
mixin  menucaphe(url,image,note,name,price)
    .menucaphe__item
        .menucaphe__item--img 
            a(href= url) 
                img(src= image, alt= note)
        .menucaphe__item--name
            .menucaphe__item--title 
                h1= name
            .menucaphe__item--price 
                h1 gia: 
                span= price
