mixin flag(url,image, note)
    a(href= url) 
        img(src= image, alt= note)
mixin menuSub(url,name)
    ul.menu--sub 
        li 
            a(href= url)= name
mixin menu_cap2(url,...items)
     ul.menu2 
        each item in items
            li
                a(href= url)= item 
mixin slideShow(address,name)
    .mySlides.fade
        img(src= address, alt= name)
mixin mainbot(url,image,title,date)
    .mainbot__right--item 
        .mainbot__right--img 
            a(href= url) 
                img(src= image, alt="")
        .mainbot__right--text 
            .mainbot__right--text-title 
                a(href= url) 
                    h1= title
            .mainbot__right--text-date 
                .mainbot__right-text-date-icon 
                    <i class="bi bi-gift"></i>
                .mainbot__right-text-date-mayDay 
                    span= date
mixin  menucaphe(url,image,note,name,price)
    .menucaphe__item
        .menucaphe__item--img 
            a(href= url) 
                img(src= image, alt= note)
        .menucaphe__item--name
            .menucaphe__item--title 
                h1= name
            .menucaphe__item--price 
                h1 gia: 
                span= price 
mixin menuOthers(title,desc)
    .menuOthers__heading 
        .menuOthers__heading--title
            h1= title
        .menuOthers__heading--desc 
            p= desc
mixin heading(title)
    .new__heading
        h1= title 
mixin box(url,image,note,url2,name,date)
    .box__item 
        .box__item--img 
            a(href= url) 
                img(src= image, alt= note)
        .box__item--bot 
            .box__item--title 
                a(href= url2)
                    h1= name
            .box__item--date 
                .box__item--icon 
                    <i class="uil uil-calender"></i>
                .box__item--newdate 
                    h1= date
mixin aboutUS(title,desc,cap,url,btn,urlIMG,image,note)
    .about__row
        .about__caption 
            .about__caption--content 
                .about__caption--heading 
                    h1= title
                .about__caption--desc 
                    h1= desc 
                .about__caption--cap 
                    p= cap
                .about__caption--btn 
                    a(href= url)= btn
        .about__img
            .about__img--images
                a(href= urlIMG) 
                    img(src= image, alt= note)